*{
    margin: 0;
    padding: 0;

}

img{
    width: 5vw;
    height: 5vw;
}

.menubody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
    
}

.container{
    width: 950px;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
    flex-wrap: wrap;
}

.container .hexagonArea{
    display: flex;
}

.container .hexagonArea.last{
    transform: translateY(-45px);

}

.container .hexagonArea .hexagon{
    position:  relative;
    width: 200px;
    height: 250px;
    margin:  0 10px;
    /*
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);*/
    clip-path: circle(45%);
    background: mediumslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: .5s;
}

.container .hexagonArea .hexagon h3{
    font-weight: 600;
    margin-top: 10px;
    font-size: 17px;
    letter-spacing:1px;
    color: white;
}

.container .hexagonArea .hexagon:hover{
    background: orange;
    transform: scale(0.8);

}


