<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>

    <link rel="stylesheet" href="/css/fonta-all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/icon/favicon.png">

    <link rel="stylesheet" href="/lib/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.standalone.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

    <style>
        #principal{
            display: flex; 
            height: 95vh ;
            width: 95vw;
        }

        #menuLat{
            background-color: black;
             height: 120vh; 
             width: 15vw;
        }

        #sectioncontenedor{
            margin-left: 2vw; 
            margin-top:2vw; 
            height: 100%; 
            width: 65%;
        }


    </style>


</head>
<body>

    <header>
        <nav>
            {{> nav }}
        </nav>

    </header>

    <main id="principal">

        <nav  id="menuLat">
            {{> compras.menu }}
        </nav>

        <section id="sectioncontenedor" >

            <H3>Datos de La compra</H3>
            <hr>
            <p>seleccione los productos del productos</p>
            <br>
            <br>

           <div class="row">
            <div class="col-sm-3">
                <label for="codigo" class="form-label" id="">Codigo Barras (Auto)</label>

                <input type="text" class="form-control" placeholder="Auto" aria-label="City" id="input-search-code">

                <p class="text-danger" id="alert-input-1"></p>
                <p class="text-success" id="alert-input-2"></p>
            </div>
            <div class="col-md-4">
                <label for="select1" class="form-label">Buscar producto (Manual)</label>
                <select class="form-select" id="select-product" name="productoNombre">
                </select>
            </div>
            <div class="col-md-4">
                <label for="select1" class="form-label">Cantidad</label>
                <input type="number" class="form-control" placeholder="0" aria-label="City" id="entrada">
                  <p class="text-danger" id="alert-input-cantidad"></p>
            </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="input-date" class="form-label mt-4">Fecha de vencimiento</label>
                    <input type="text" class="form-control" id="input-date">
                    <p class="text-danger" id="alert-input-fecha"></p>
                </div>

                <div class="col-md-4">
                <br>
                <button type="button" class="btn btn-success btn-lg" id="addRow" >Agregar</button>
                </div>

            </div>
            </div>
            
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>producto</th>
                        <th>Proveedor</th>
                        <th>PrecioU</th>
                        <th>cantidad</th>
                        <th>importe</th>
                        <th>vencimiento</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Articulos: </th>
                        <th></th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-danger" id="quitar" disabled>Quitar productos </button>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Total:</p>
                        </div>
                        <div class="col-sm-3">
                             <span class="badge rounded-pill bg-success" ><h2 id="total" >0</h2></span>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="col-md-4">
                    <div class="row">
                        <label for="input-date" class="form-label mt-4">Descripcion: </label>
                    </div>
                    <div class="row">
                        <textarea name="" id="descripcion" cols="30" rows="5"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary btn-lg" id="vender" disabled >Confirmar Compra</button>
                </div>
            </div>
            


        </section>

    </main>

    <footer>

    </footer>

    <script>
        
    </script>

<script type="text/javascript" language="javascript" src="/DataTables/jQuery-3.6.0/jquery-3.6.0.js"></script>
<script type="text/javascript" language="javascript" src="/DataTables/DataTables-1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/DataTables/dataTables.bootstrap5.min.js"></script>
<script src="/lib/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.js"></script>
<script src="/lib/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.es.min.js"></script>
<script src="/js/sweetalert2@11.js"></script>

<script src="/js/compras.index.js"></script>

</body>
</html>