<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura </title>

    <link rel="stylesheet" href="/css/fonta-all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/icon/favicon.png">

    <script src="/lib/pdf/html2pdf.bundle.min.js"></script>
    <script src="/lib/pdf/html2pdf.bundle.js"></script>

    

    <style>
        #principal{
            display: flex; 
            height: 95vh ;
            width: 95vw;
        }

        #menuLat{
            background-color: black;
             height: 150vh; 
             width: 12vw;
        }

        #sectioncontenedor{
            margin-left: 2vw; 
            margin-top:2vw; 
            height: 100%; 
            width: 45%;
        }


    </style>


</head>
<body>

    <header>
        <nav>
            {{> nav }}
        </nav>

    </header>

    <main id="principal">

        <nav  id="menuLat">
            {{> factura.menu }}
        </nav>

        <section id="sectioncontenedor" >
            <h3>No. <p id="idVenta">{{ idventa }} </p> </h3>
               
            
            <div class="" id="generar">
            <hr>
            <p>Datos Generales</p>
            <div class="row">
            <div class="col-md-4">
                <h5>Cliente:</h5> <label id="lblcliente"></label>
                <h5>NIT:</h5>  <label id="lblnit"></label>
                <h5>fecha: </h5> <label id="lbldate"></label>
                <h5>Total: </h5> <label id="lbltotal"></label>
                <h5>usuario: </h5> <label id="lblusuario"></label>
                
            </div>
                <div class="col-md-4" >
                    <img src="/img/Logo Minimercado.png" alt="" style="height: 150px ; width: 150px;">
                </div>
            </div>
            
            <table id="tablaVentas" class="table table-hover" style="width:auto ; height: auto; border: 5px;"  >
                    <thead>
                        <tr class="table-dark">
                        <th scope="col">Cantidad</th>
                        <th scope="col">Producto</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </section>
        <section>
            <br><br>
            <button type="button" class="btn btn-success btn-lg" id="confirmar" onclick="generar()">Confirmar</button>
            <a href="/factura">
            <button type="button" class="btn btn-danger btn-lg" id="confirmar" >Cancelar</button>
            </a>
        </section>
        

    </main>

    <footer>

    </footer>

    <script>
        
    </script>




<script type="text/javascript" language="javascript" src="/DataTables/jQuery-3.6.0/jquery-3.6.0.js"></script>
<script type="text/javascript" language="javascript" src="/DataTables/DataTables-1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/DataTables/dataTables.bootstrap5.min.js"></script>
<script src="/lib/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.js"></script>
<script src="/lib/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.es.min.js"></script>

<script src= "/js/factura.confirm.js"></script>
</body>
</html>