<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/js/login.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" href="/icon/icon1.png">
    <title>Login Mini Mercado</title>

</head>
<body>

    <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/img/Logo Minimercado.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Clave">
      
      <a href="/index">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </a>
      
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/">
        <button type="button" class="btn btn-danger">Cancelar</button>
      </a>
    </div>

  </div>
</div>
    
</body>
</html>