<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    Usuarios Existentes
  </a>
  <a href="#" class="list-group-item list-group-item-action">Nuevo</a>
  <a href="#" class="list-group-item list-group-item-action">Salir</a>
  <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
  <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled link item</a>
</div>